@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

button {
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
}
